:root{
  --cor001: #38bc94;
  --cor001: #3fb494; 
  --cor003: #e5eae0;
  --cor004: #f49a44;
  --cor005: #ec9748;
  --cor006: #f7ad7b;
  --cor007: #fac190;
  --cor008: #e54184;
  --cor009: #e9a9bc;
  --cor010: #e9a9be;
  --cor011: #ee9db8;
  
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--cor011);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body {
  background-color: var(--cor003);
}

nav{
  display: flex;

}

#logo-mobile {
  display: flex;
  padding: 15px;
} 

.menu-icon {
    display: none;
    cursor: pointer;

  }
  

ul li img {
  width: 50px;
  margin: 10px;
}
.menu-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

}

.menu-links ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-links li {
  margin: 10px;
}

.menu-links li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  border-radius: 10px;
}

.menu-links li a:hover {
  background-color:var(--cor010);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
section h1 {
  font-size: 3em;
  margin: 0;
}
section p {
  font-size: 1.5em;
  margin: 0;
}

.social ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
  padding: 0px;
  margin-top: 30px;
}
.social i {
  color: #3fb494;
  font-size: 25px;
  gap: 10px;
}

@media (max-width: 900px) {
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav{
    display: flex;
    align-items: center;
  }
  
  #logo-mobile {
    display: flex;
  
  }
  
  .menu-icon {
    display: flex;
    margin: 20px 20px;
    color: aquamarine; 
  }

  .menu-links {
    display: none;
  }

  .menu-links.active {
  display: flex;
  } 

}