:root{
  --cor001: #38bc94;
  --cor001: #3fb494; 
  --cor003: #e5eae0;
  --cor004: #f49a44;
  --cor005: #eca665ea;
  --cor006: #f7ad7b;
  --cor007: #fac190;
  --cor008: #e54184;
  --cor009: #e9a9bc;
  --cor010: #e9a9be;
  --cor011: #ee9db8;
  
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--cor009);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 9px 4px 4px rgba(0,0,0,.1);
}

body {
  background-color: var(--cor003);
  margin: -15px 0px;
}

nav{
  display: flex;
}

#logo-mobile {
  display: flex;
  padding: 15px;
} 

.menu-icon {
  display: none;
  cursor: pointer;

}
  

.menu-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

}

.menu-links ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-links li {
  margin: 10px;
}

.menu-links li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  border-radius: 10px;
}

.menu-links li a:hover {
  background-color:var(--cor011);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
section h1 {
  font-size: 3em;
  margin: 0;
}
section p {
  font-size: 1.3em;
  margin: 0;
}

/* Config da section home*/

.home_father{
  display: flex;
  flex-direction: row-reverse;
  gap: 35px;
  margin-top: 25px;
  align-items: center;
  justify-content: inherit;
}

.text_home{
  display: flex;
  width: 40%;
  margin: 0px 0px 0px 280px;
}

.text_home{
 margin: 0px;
}

.img_home img{
  display: flex;
  width: 300px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 0px #9f7856
}




/* Config da section contact*/
.contact_father{
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: center;
  align-items: center;

}    

.contact_son{
  margin-top: 15px;
  align-items: center;
}

.contact_son ul {
  list-style: none;
  display: flex;
  justify-content:center; 
  gap: 30px;
  padding: 0px;
  margin-top: 30px;
}

.contact_son i {
  color: #9f6b55;
  font-size: 30px;
}

.contact_son h4 > a{
  text-decoration: none;
  color: #9f6b55
}

.maps_son{
  display: flex;
  width: 100%;
  height: 100%;
}

.maps_son > iframe{
  margin-top: 15px;
  width: 100%;
  height: 100%;
} 

/* Config do responsivo*/

@media (max-width: 900px) {
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav{
    display: flex;
    align-items: center;
  }
  
  #logo-mobile {
    display: flex;
  
  }
  
  .menu-icon {
    display: flex;
    margin: 20px 20px;
    color: aquamarine; 
  }

  .menu-links {
    display: none;
  }

  .menu-links.active {
  display: flex;
  }

  .contact_father{
    width:300px ;
}

  .maps{
    display: flex;
    width: 100%;
    height: 100%;
  }


  
  .home_father{
    display: flex;
    flex-direction: column-reverse; 
   }


}

/*config do Rodapé

footer {
  background-color: #eb9f7e;
  height: 100%;
  width: 100%;
  text-align: center;
  
}

footer p {
  margin: 0px;
}

footer a{
  color: black;
  text-decoration: none;
}
*/
