:root {
  --cor001: #38bc94;
  --cor001: #3fb494;
  --cor003: #e5eae0;
  --cor004: #f49a44;
  --cor005: #eca665ea;
  --cor006: #f7ad7b;
  --cor007: #fac190;
  --cor008: #e54184;
  --cor009: #e9a9bc;
  --cor010: #e9a9be;
  --cor011: #ee9db8;

}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--cor009);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 9px 4px 4px rgba(0, 0, 0, .1);
}

main {
  margin-top: 78px;
}

body {
  background-color: var(--cor003);
  margin: -15px 0px;
}

nav {
  display: flex;
}

#logo-mobile {
  display: flex;
  padding: 15px;
}

.menu-icon {
  display: none;
  cursor: pointer;

}


.menu-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

}

.menu-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-links li {
  margin: 10px;
}

.menu-links li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  border-radius: 10px;
}

.menu-links li a:hover {
  background-color: var(--cor011);
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

section {
  min-height: 93vh;
  padding-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

section .banner{
  border: 2px solid black;
}
.travessao {
  width: 60px;
  height: 1px;
  margin: 10px auto 0;
  border-bottom: 2px solid #285b6e;
}

section h1 {
  font-size: 3em;
  margin: 0;
}

section p {
  font-size: 1.3em;
  margin: 0;
}

/* Config da section home*/

.banner{
  background-image: url(../img/conteudo/home3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  border-bottom: 4px solid var(--cor007);
}

.home_father {
  display: flex;
  /* flex-direction: row-reverse; */
  gap: 35px;
  /* margin-left: 20px; */
  margin-top: 25px;
  align-items: center;
  justify-content: space-evenly;
}

.text_home {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: center;
}

.text_home h1 {
  color: var(--cor003);
  text-shadow: 2px 4px 6px black;
}

.text_home h2 {
  color: var(--cor003);
  text-shadow: 2px 4px 6px black;
}

.text_home p {
  color: var(--cor003);
  text-shadow: 2px 4px 6px black;
}



.consulta {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  
}

.consulta a {
  background-color: white;
  text-decoration: none;
  color: #9f6b55;
  font-size: 15px;
  text-align: center;
  padding: 20px 12px;
  border-radius: 44px;
  box-shadow: 4px 4px 8px 0px #9f7856;  
}

.consulta {
  display: flex;
  justify-content: center;
}


.img_home img {
  display: flex;
  width: 300px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 0px #9f7856;
}

/* Config da section team*/ 

.text_team h1 {
  text-align: center;
}

.text_team p {
  text-align: center;
  margin: 12px 16%;
}

.intro_father{
  display: flex;
  gap: 75px;
}

.intro_son ul{
  padding: 0px;
  width: 100%;  
}

.intro_son ul a {
  list-style: none;
  text-decoration: none;
  display: flex;
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
  margin-top: 30px;
  gap: 10px;
  box-shadow: 4px 4px 8px 0px #9f7856;
  align-items: center;
  flex-direction: column;
}

.intro_son img{
  width: 150px;
}

/*Config modal*/

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.1s;
}

.modal_intro{
  width: 100%;
}
 
.modal:target {
  position: fixed;
  visibility: visible;
  opacity: 1;
}

.modal_content_father{
  background-color: #e9a9bc;
  display: flex;
  align-items: center;
  box-shadow: 3px 3px 2px 1px #865b6c;
  flex-direction: row;
  border-radius: 5px;
  width: 70%;
  margin-left: 15%;
}

.content_text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.name_dra{
  display: flex;
}

.list_dra{
  display: flex;
}

.list_dra li{
  margin-bottom: 10px;
}

.content_img{
  display: flex;
  padding: 15px;
  width: 40%;
}
.content_img img{
  width: 100%;
  box-shadow: 3px 3px 2px 1px #865b6c;
  border-radius: 5px;
}

/* close modal*/

.modal_close {
  display: flex;
  flex-direction: row-reverse;
  width: 85%;
}

.modal_close a {
  text-decoration: none;
    color: black;
    margin-right: 8px;
}

.modal_close i {
  font-size: 23px;
}







/* Config da section contact*/
#contact_top{
  margin-bottom: 80px;
}

.contact_father {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 10px;
  gap: 50px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.contact_son {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  align-items: center;
}

.contact_son ul {
  list-style: none;
  display: flex;
  background-color: white;
  border-radius: 10px;
  padding: 12px 12px 12px 12px;
  margin-top: 30px;
  width: 250px;
  height: 65px;
  gap: 36px;
  box-shadow: 4px 4px 8px 0px #9f7856;
  align-items: center;
}

.contact_son i {
  list-style: none;
  color: #9f6b55;
  font-size: 60px;
  margin-left: 15px;
}

.contact_son a {
  text-decoration: none;
  color: #9f6b55;
  font-size: 15px;
}

h4.endereco a {
  text-decoration: none;
  color: #9f6b55;
  margin-top: 25px;
  
}

h4.endereco span{
  margin-left: 5px;
}
.maps_son {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  /*margin-bottom: -80px;*/
}

.maps_son>iframe {
  margin-top: 15px;
  width: 40%;
  height: 200px;
}

/*config do Rodapé*/

footer {
  padding-bottom: 1px;
}

footer p {
  margin: 0px;
}

footer a {
  color: black;
  text-decoration: none;
}

.footer_father{
  color: #9f6b55;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.footer_text{
  display: flex;
}

.footer_icon{
  display: flex;
  gap: 10px;
}

.footer_icon i{
  color: #9f6b55;
}

/* Config do responsivo*/

@media (max-width: 950px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  section {
    padding-top: 90px;
  }

  nav {
    display: flex;
    align-items: center;
  }

  #logo-mobile {
    display: flex;

  }

  .menu-icon {
    display: flex;
    margin: 20px 20px;
    color: aquamarine;
  }

  .menu-links {
    display: none;
  }

  .menu-links.active {
    display: flex;
  }

  /* config responsivo home */
  .home_father {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    margin-left: 0px;
    margin-top: 0px;

  }

  .text_home{
    width: 70%;
  }

  .consulta{
    margin-bottom: 20px;
  }

  /* config responsivo team*/

  .intro_father{
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
 
  /* Config responsivo modal */
  .modal_content_father{
    flex-direction: column;
  }

  .content_img{
    display: flex;
    justify-content: center ;
  }

  /* config responsivo contact */

  .contact_father {
    flex-direction: column;
    gap: 0px;

  }
  .contact_son {
    padding: 0px;
    margin-top: 0px;

  }

  .maps {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .maps_son>iframe {
    margin-bottom: 0%;
    width: 100%;
  }

  .footer_father{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}


